$grey: #424242;
$pink: #d81b60;
$white: #fff;
$hard-pink: #c2185b;

.container {
  margin-top: 40px;
  margin-bottom: 40px;
}
.tab-pane {
  padding: 20px;
  border: 1px solid #DDDDDD;
  border-top: 0 none;
}
/************************** Hello **************************/

.hero {
  padding: 30px;
  color: $grey;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);

  .btn {
    &:hover {
      color: $white;
      transform: translateY(-2px);
    }
    &:focus {
      color: $white;
      border: 0;
    }
  }

  .form-control {
    font-size: 14px;
  }

  input:not([type]):focus:not([readonly]),
  input[type=text]:focus:not([readonly]),
  input[type=password]:focus:not([readonly]),
  input[type=email]:focus:not([readonly]),
  input[type=url]:focus:not([readonly]),
  input[type=time]:focus:not([readonly]),
  input[type=date]:focus:not([readonly]),
  input[type=datetime]:focus:not([readonly]),
  input[type=datetime-local]:focus:not([readonly]),
  input[type=tel]:focus:not([readonly]),
  input[type=number]:focus:not([readonly]),
  input[type=search]:focus:not([readonly]),
  textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid $pink;
    box-shadow: 0 1px 0 0 $pink;
  }
}

.input-full-name,
.input-position,
.input-email-address,
.input-phone-office,
.input-phone-mobile {
  label {
    color: $grey;
    font-size: 16px;
  }
}

#signature-horizontal-visual {
  padding: 0;
  border-bottom: 0;
}

/***** Image *****/
.view-img img{
  width:100%;
  max-width: 150px;
  display:block;
}
#upload {
  display: none;
}

.uploadbtn {
  border: 0;
  line-height: 1.1;
  margin: 0 auto 20px;
  width: 155px;
  padding: 11px;
  position: relative;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}

.uploadbtn span {
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.15s;
  -webkit-backface-visibility: hidden;
  -moz-transition: all 0.15s;
  -moz-backface-visibility: hidden;
  transition: all 0.15s;
  backface-visibility: hidden;
}
